<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Twitter Bootstrap shopping cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/assets/css/styles.css" rel="stylesheet">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link href="style.css" rel="stylesheet">
</head>

<body>
<!--
Upper Header Section
-->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="topNav">
        <div class="container">
            <div class="alignR">
                <div class="pull-left socialNw">
                    <a href="#"><span class="icon-twitter"></span></a>
                    <a href="#"><span class="icon-facebook"></span></a>
                    <a href="#"><span class="icon-youtube"></span></a>
                    <a href="#"><span class="icon-tumblr"></span></a>
                </div>
                <a href="index.html"> <span class="icon-home"></span> Home</a>
                <a href="#"><span class="icon-user"></span> My Account</a>
                <a href="register.html"><span class="icon-edit"></span> Free Register </a>
                <a href="contact.html"><span class="icon-envelope"></span> Contact us</a>
                <a href="cart.html"><span class="icon-shopping-cart"></span> 2 Item(s) - <span
                        class="badge badge-warning"> $448.42</span></a>
            </div>
        </div>
    </div>
</div>
<!--
Lower Header Section
-->

<div class="container">
    <div id="gototop"></div>
    <header id="header">
        <div class="row">
            <div class="span4 alignR">
                <p>
                    <br> <strong> Support (24/7) : 0800 1234 678 </strong>
                    <br>
                    <br>
                </p>
                <span class="btn btn-mini">[ 2 ] <span class="icon-shopping-cart"></span></span>
                <span class="btn btn-warning btn-mini">$</span>
                <span class="btn btn-mini">&pound;</span>
                <span class="btn btn-mini">&euro;</span>
            </div>
        </div>
    </header>
    <!--
Navigation Bar Section
-->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="active"><a href="stock.html">Stock</a></li>
                        <li><a href="shopcart.html">Shopcart</a></li>
                    </ul>
                    <form action="#" class="navbar-search pull-left">
                        <input type="text" placeholder="Search" class="search-query span2">
                    </form>
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="icon-lock"></span>
                                Login <b class="caret"></b></a>
                            <div class="dropdown-menu">
                                <form class="form-horizontal loginFrm">
                                    <div class="control-group">
                                        <input type="text" class="span2" id="inputEmail" placeholder="Email">
                                    </div>
                                    <div class="control-group">
                                        <input type="password" class="span2" id="inputPassword" placeholder="Password">
                                    </div>
                                    <div class="control-group">
                                        <label class="checkbox">
                                            <input type="checkbox"> Remember me
                                        </label>
                                        <button type="submit" class="shopBtn btn-block">Sign in</button>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <!--
Body Section
-->
    <!--
Three column view
-->{% block content %}
    <h3>Four Column Product view </h3>
    <ul class="thumbnails">
        {% for i in items %}
        <li class="span3">
            <div class="thumbnail">
                <a href="product_details.html" class="overlay"></a>
                <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span>
                    QUICK VIEW</a>
                <a href="product_details.html"><img src='assets/myproducts/img{{ i[2] }}' alt=''></a>
                <div class="caption cntr">
                    <p>{{ i[0] }}</p>
                    <p><strong class="price"> {{ i[4] }} </strong>$</p>
                    <p><strong class="avail"> {{ i[3] }} </strong>Available</p>
                    <input type="number" name="qty" class="qty" min="1" max="{{i[3]}}"/>
                    <h4><a class="shopBtn addCart" id={{ i[5] }} href="" title="add to cart"> Add to cart </a></h4>
                    <div class="actionList">
                        <a id='#' class="pull-left" href="">Add to Wish List </a>
                        <a class="pull-left" href="#"> Add to Compare </a>
                    </div>
                    <br class="clr">
                </div>
            </div>
        </li>
        {% endfor %}

    </ul>
    {% endblock %}
    <!--
Clients
-->
    <section class="our_client">
        <hr class="soften"/>
        <h4 class="title cntr"><span class="text">Manufactures</span></h4>
        <hr class="soften"/>
        <div class="row">
            <div class="span2">
                <a href="#"><img alt="" src="assets/myproducts/img/1.png"></a>
            </div>
            <div class="span2">
                <a href="#"><img alt="" src="assets/myproducts/img/2.png"></a>
            </div>
            <div class="span2">
                <a href="#"><img alt="" src="assets/myproducts/img/3.png"></a>
            </div>
            <div class="span2">
                <a href="#"><img alt="" src="assets/myproducts/img/4.png"></a>
            </div>
            <div class="span2">
                <a href="#"><img alt="" src="assets/myproducts/img5.png"></a>
            </div>
            <div class="span2">
                <a href="#"><img alt="" src=assets/myproducts/img/6.png"></a>
            </div>
        </div>
    </section>
    <!--
Footer
-->
    <footer class="footer">
        <div class="row-fluid">
            <div class="span2">
                <h5>Your Account</h5>
                <a href="#">YOUR ACCOUNT</a>
                <br>
                <a href="#">PERSONAL INFORMATION</a>
                <br>
                <a href="#">ADDRESSES</a>
                <br>
                <a href="#">DISCOUNT</a>
                <br>
                <a href="#">ORDER HISTORY</a>
                <br>
            </div>
            <div class="span2">
                <h5>Iinformation</h5>
                <a href="contact.html">CONTACT</a>
                <br>
                <a href="#">SITEMAP</a>
                <br>
                <a href="#">LEGAL NOTICE</a>
                <br>
                <a href="#">TERMS AND CONDITIONS</a>
                <br>
                <a href="#">ABOUT US</a>
                <br>
            </div>
            <div class="span2">
                <h5>Our Offer</h5>
                <a href="#">NEW PRODUCTS</a>
                <br>
                <a href="#">TOP SELLERS</a>
                <br>
                <a href="#">SPECIALS</a>
                <br>
                <a href="#">MANUFACTURERS</a>
                <br>
                <a href="#">SUPPLIERS</a>
                <br/>
            </div>
            <div class="span6">
                <h5>The standard chunk of Lorem</h5> The standard chunk of Lorem Ipsum used since the 1500s is
                reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum"
                by Cicero are also reproduced in their exact original form, accompanied by English versions from the
                1914 translation by H. Rackham.
            </div>
        </div>
    </footer>
</div>
<!-- /container -->
<div class="copyright">
    <div class="container">
        <p class="pull-right">
            <a href="#"><img src="assets/myproducts/img/maestro.png" alt="payment"></a>
            <a href="#"><img src="assets/myproducts/img/mc.png" alt="payment"></a>
            <a href="#"><img src="assets/myproducts/img/pp.png" alt="payment"></a>
            <a href="#"><img src="assets/myproducts/img/visa.png" alt="payment"></a>
            <a href="#"><img src="assets/myproducts/img/disc.png" alt="payment"></a>
        </p>
        <span>Copyright &copy; 2013<br> bootstrap ecommerce shopping template</span>
    </div>
</div>
<a href="#" class="gotop"><i class="icon-double-angle-up"></i></a>
<!-- Placed at the end of the document so the pages load faster -->
<script src="/assets/js/scripts.js"></script>
<script src="/trans.js"></script>

</body>

</html>
